.body {
  overflow: auto;
  height: 100vh;
}

main, main form {
  width: 400px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-bottom: 2em;
}

.nav {
  z-index: 999;
}

.meeting-info {
  max-width: 900px;
  padding-top: 2em;
  text-align: left;
}