<div class="body">
  <ul ngbNav #nav="ngbNav" [(activeId)]="activeId" [destroyOnHide]="false" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Home</a>
      <ng-template ngbNavContent>
        <div class="content center">
          <h1>Broadway Group</h1>
          <p>Password: 4311</p>
          <div class="join">
            <a class="btn btn-primary" href="https://zoom.us/j/814584950" target="_zoom">Join with app</a>
            <a class="btn btn-primary" href="https://zoom.us/wc/814584950/join?prefer=1&un=TWluZGF1Z2Fz" target="_zoom">Join with web</a>
          </div>
          
          <div class="literature">
            <div><a href="https://www.na.org/admin/include/spaw2/uploads/pdf/litfiles/us_english/misc/Who%20Is%20an%20Addict.pdf" 
              target="_blank">Who is an addict?</a></div>
            <div><a href="http://www.na.org/?ID=litfiles/us_english/misc/Why%20Are%20We%20Here.pdf" 
              target="_blank">Why are we here?</a></div>
            <div><a href="http://www.na.org/?ID=litfiles/us_english/misc/What%20Is%20the%20NA%20Program.pdf" 
              target="_blank">What is the NA program?</a></div>
            <div><a href="http://www.na.org/?ID=litfiles/us_english/misc/We%20Do%20Recover.pdf" 
              target="_blank">We do recover</a></div>
            <div><a href="http://www.na.org/?ID=litfiles/us_english/misc/How%20it%20Works.pdff" 
              target="_blank">How it works</a></div>
            <div><a href="http://www.na.org/?ID=litfiles/us_english/misc/Twelve%20Traditions.pdf" 
              target="_blank">The Twelve Traditions of NA</a></div>
            <div><a href="http://www.na.org/?ID=litfiles/us_english/misc/Just%20for%20Today.pdf" 
              target="_blank">Just For Today</a></div>
            <div class="divider"></div>
            <div><a href="https://docs.google.com/document/d/1PnO28fdEIcltHhSrtBrNP_mW6t7boWTxz5ZC579vseA" target="_policy">Group Policy</a></div>
          </div>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Info</a>
      <ng-template ngbNavContent>
        <div class="content meeting-info">
          <div class="well">
            <p>You can also join through the Zoom app with limited access to the meeting tools.</p>
            <div>
              <h4>Time: 12pm and 7pm CST Daily</h4>
              <p>Join Zoom Meeting <a href="https://zoom.us/j/814584950">https://zoom.us/j/814584950</a></p>
              <p>Meeting ID: 814 584 950</p>
              <p>Password: 4311</p>
              <p>One tap mobile</p>
              <p>+13462487799,,814584950# US (Houston)</p>
              <p>+16699009128,,814584950# US (San Jose)</p>
    
              <p>Dial by your location<br/>
                  +1 346 248 7799 US (Houston)<br/>
                  +1 669 900 9128 US (San Jose)<br/>
                  +1 312 626 6799 US (Chicago)<br/>
                  +1 646 558 8656 US (New York)<br/>
                  +1 253 215 8782 US<br/>
                  +1 301 715 8592 US<br/>
                  Meeting ID: 814 584 950</p>
              <p>Find your local number: <a href="https://zoom.us/u/auUw8eye">https://zoom.us/u/auUw8eye</a></p>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
  <footer class="center">
    <p>Urgent Help: <a href="tel:1-800-629-6757">1-800-NA-WORKS</a></p>
    <p>Website Problems: support@savantly.net</p>
  </footer>
</div>
