<div class="body">
  <nav ngbDropdown class="nav d-inline-block">
    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Read</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <a ngbDropdownItem href="https://www.na.org/admin/include/spaw2/uploads/pdf/litfiles/us_english/misc/Who%20Is%20an%20Addict.pdf" 
        target="_blank">Who is an addict?</a>
      <a ngbDropdownItem href="http://www.na.org/?ID=litfiles/us_english/misc/Why%20Are%20We%20Here.pdf" 
        target="_blank">Why are we here?</a>
      <a ngbDropdownItem href="http://www.na.org/?ID=litfiles/us_english/misc/What%20Is%20the%20NA%20Program.pdf" 
        target="_blank">What is the NA program?</a>
      <a ngbDropdownItem href="http://www.na.org/?ID=litfiles/us_english/misc/We%20Do%20Recover.pdf" 
        target="_blank">We do recover</a>
      <a ngbDropdownItem href="http://www.na.org/?ID=litfiles/us_english/misc/How%20it%20Works.pdff" 
        target="_blank">How it works</a>
      <a ngbDropdownItem href="http://www.na.org/?ID=litfiles/us_english/misc/Twelve%20Traditions.pdf" 
        target="_blank">The Twelve Traditions of NA</a>
      <a ngbDropdownItem href="http://www.na.org/?ID=litfiles/us_english/misc/Just%20for%20Today.pdf" 
        target="_blank">Just For Today</a>
      <div class="divider"></div>
      <a ngbDropdownItem href="https://docs.google.com/document/d/1PnO28fdEIcltHhSrtBrNP_mW6t7boWTxz5ZC579vseA" target="_policy">Group Policy</a>
    </div>
  </nav>
  
  <main>
    <h1>Broadway Group</h1>
    <form #f="ngForm" (ngSubmit)="getSignature()" ngNativeValidate>
      <div class="form-group">
        <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Enter display name" [(ngModel)]="userName" name="userName" required>
        <small id="usernameHelp" class="form-text text-muted">You can enter an anonymous name.</small>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Password" [(ngModel)]="passWord" name="passWord" required>
        <small id="passwordHelp" class="form-text text-muted">Get the pasword from a member</small>
      </div>
      <button type="submit" class="btn btn-primary">Join Meeting</button>
    </form>
    <div class="meeting-info">
      <div class="well">
        <p>You can also join through the Zoom app with limited access to the meeting tools.</p>
        <div>
          <h4>Time: 12pm and 7pm CST Daily</h4>
          <p>Join Zoom Meeting <a href="https://zoom.us/j/814584950">https://zoom.us/j/814584950</a></p>
          <p>Meeting ID: 814 584 950</p>
          <p>Password: 4311</p>
          <p>One tap mobile</p>
          <p>+13462487799,,814584950# US (Houston)</p>
          <p>+16699009128,,814584950# US (San Jose)</p>

          <pre>
Dial by your location
    +1 346 248 7799 US (Houston)
    +1 669 900 9128 US (San Jose)
    +1 312 626 6799 US (Chicago)
    +1 646 558 8656 US (New York)
    +1 253 215 8782 US
    +1 301 715 8592 US
Meeting ID: 814 584 950
          </pre>
          <p>Find your local number: <a href="https://zoom.us/u/auUw8eye">https://zoom.us/u/auUw8eye</a></p>
        </div>
      </div>
    </div>
    <footer>
      <p>Urgent Help: <a href="tel:1-800-629-6757">1-800-NA-WORKS</a></p>
      <p>Website Problems: support@savantly.net</p>
    </footer>
  </main>
</div>
